<div class="clock-wrapper black-border">

  <div class="analog shadow">
    <div class="source"></div>
    <span *ngFor="let digit of digits" 
    [ngStyle]="{'transform':'rotate('+digit * 30+'deg)'}"
      class="digit digit-{{digit}}"><b 
      [ngStyle]="{'transform':'rotate(-'+digit * 30+'deg)'}">{{digit}}</b>
    
    </span>

    <div class="hand hour-hand"  [ngStyle]="{'transform':'rotate(' + hourPosotion + 'deg)'}"></div>
    <div class="hand minute-hand" [ngStyle]="{'transform':'rotate(' + minutePosition + 'deg)'}"></div>
    <div class="hand secound-hand"[ngStyle]="{'transform':'rotate(' + secondPosition + 'deg)'}"></div>
  </div>

  <div class="digital-clock shadow">

    <div class="date year">{{dateTime.years}}</div><span class="date separater">/</span>
    <div class="date month">{{dateTime.month}}</div><span class="date separater">/</span>
    <div class="date day">{{dateTime.day}}</div>
    <div class="date separater">--</div>
    <div class="date hour">{{dateTime.hour}}</div><span class="date separater">:</span>
    <div class="date minute">{{dateTime.minute}}</div><span class="date separater">:</span>
    <div class="date  second">{{dateTime.second}}</div>


  </div>

<div class="copywright">

  <p>Developed By Ashu Rana </p>
</div>

</div>